@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

a {
  color: #ff7f27;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; 
}

img {
  max-width: 60%;
  max-height: 300px;
}

.definition {
  font-size: 100%;
  font-family: 'Archivo', sans-serif;
}

.description {
  font-family: 'JetBrains Mono', monospace;
  font-size: 95%;
}

.footer {
  position: fixed;
  bottom: 0;
  font-family: 'JetBrains Mono', monospace;
  font-size: 95%;
  width: 100%;
  color: Grey;
}

div {
  font-weight: normal;
  display: block;
  line-height: 1.7;
  margin: auto;
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;  
  padding-bottom: 20px;
}
