@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

img {
  max-width: 60%;
}

.word {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  max-width: 900px;
}

.definition {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  max-width: 900px;
}

div {
  font-family: 'Playfair Display';
  font-size: 150%;
  font-weight: normal;
  display: block;
  line-height: 1.7;
}
