@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

div.word {
  margin-bottom: 80px; 
  margin-left: 40px; 
}

div.definition {
  margin-left: 40px; 
}

p {
  font-family:'Playfair Display';
  font-size:16px;
  font-weight:normal;
  display:inline;
  line-height:1.6;
}
